<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Puppy Time!</h1>

    <form method="post" action="/">
      <p>Enter the information of your puppy:</p>
      <p>Name:<input type="text" name="name"></p>
      <p>Breed:<input type="text" name="breed"></p>
      <p>Age:<input type="text" name="age"></p>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
